<div>
  <h2>VideoJS Angular 2 Component</h2>

  <video
    [height]="100" [width]="200"
    data-setup='{ "controlBar": false }'
    autoplay
    *ngIf="videoUrl" id="video_player_id"
         preload="auto" [controls]="false">
    <source [src]="videoUrl" type="rtmp/mp4">
  </video>

</div>
